<!DOCTYPE html>
<html>
<head>
  <title>XKCD</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="container">
        <%= yield %>
        <footer>
            Comics by <%= link_to "Randall Munroe", 'http://xkcd.com' %>.
        </footer>
    </div>
</body>
</html>
